.piece {
  font-size: 48px;
  cursor: grab;
  user-select: none;
  transition: transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.piece:hover {
  transform: scale(1.1);
}

.piece:active {
  cursor: grabbing;
}

.piece.dragging {
  opacity: 0.5;
  cursor: grabbing;
}

.piece.white {
  color: #fff;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.piece.black {
  color: #000;
  text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}
